@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("AvenirNextLTPro-Regular.woff2") format("woff2"),
      url("AvenirNextLTPro-Regular.woff") format("woff");
  } 
  
  /* font-family: "AvenirNextLTPro-Regular"!important;  */
  
  
  
  
  @font-face {
    font-family: "AvenirNextLTPro-Bold";
    src: url("AvenirNextLTPro-Bold.woff2") format("woff2"),
      url("AvenirNextLTPro-Bold.woff") format("woff");
  } 
  
  /* font-family: "AvenirNextLTPro-Bold"!important;  */
  
  
  
  @font-face {
    font-family: "Ogg-Regular";
    src: url("Ogg-Regular.woff2") format("woff2"),
      url("Ogg-Regular.woff") format("woff");
  } 
  
  /* font-family: "Ogg-Regular"!important;  */
  
  
  
  
  
  
  .drawer {
    display: none;
  }
  
  
  .cart-notification{
  display:none!important;
  }
  
  body .js-ajax-cart-not-empty .cart-count-bubble{
  display:inline!important;
  }
  
  body .js-ajax-cart-empty .cart-count-bubble{
  display:none!important;
  }
  
  
  
  
  .drawer__header {
  padding: 60px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .drawer__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
  }
  .drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
   max-width: 360px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(103%);
    transform: translateX(103%); /* extra 3% because of box-shadow */
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    box-shadow: 0 2px 6px #777;
    background-color:#faf9f6;
  }
  .drawer__content {
    position: relative;
  /*   overflow-x: hidden;
    overflow-y: auto; */
    height: 100%;
    flex-grow: 1;
    padding: 1.5rem;
  }
  .drawer.is-active {
    display: block;
  }
  .drawer.is-visible .drawer__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .drawer.is-visible .drawer__overlay {
    opacity: 0.5;
  }
  
  
  
  
  
  .drawer__title{
  width: 100%;
  }
  
  
  .drawer_title_text{
  font-family: "AvenirNextLTPro-Regular"!important;  
  text-align:center;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;  
  }
  
  
  
  
  
  
  
  
  
  
  
  /**********style when the drawer is open*************/
  
  
  
  .drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  
  
  /***************additional styling******************/
  
  
  .each_cart_item{
  display:flex;
  padding-bottom: 30px;  
  }
  
  
  .item_details{
  width:100%;
  display:flex;
  }
  
  .item_price{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  }
  
  
  .remove_item_icon img{
  transform:rotate(45deg);
  padding: 10px 20px 0;  
  }
  
  
  
  .item_price h3{
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-family: "AvenirNextLTPro-Regular"!important;
  }
  
  .item_title_text{
  padding-top:5px;
  font-family: "AvenirNextLTPro-Regular"!important;
  font-size: 15px;
  line-height: 25px;
  color: #000000;  
  text-decoration: none;  
  }
  
  
  .item_title_text:hover{
  color: #273e22;
    
  }  
    
  .item_image{
  max-width: 120px!important;
  max-height: 130px;
  }
  
  
  .item_title_quantity{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  }
  
  .item_final_price{
  white-space: nowrap;
  }
  
  .drawer_footer{
  padding: 20px 20px 40px;
  }
  
  .order_note{
  padding-bottom: 13px;
  font-family: "AvenirNextLTPro-Bold"!important; 
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;  
  text-transform:uppercase;  
  }
  
  
  #Cart-note{
  padding-bottom: 13px;
  font-family: "AvenirNextLTPro-Regular"!important;
  font-size: 15px;
  /* letter-spacing: 2px; */
  line-height: 30px;
  background-color:#faf9f6; 
    
  }
  
  
  .mini_cart_note{
  border: 2px solid #c8c7c6
  }
  
  
  
  
  /*****cart quantity******/
  
  .quantity_selector{
  border: 1px solid #000;
  text-align: center;
  width: 90px;
  padding-top: 3px;
  padding-bottom: 3px;
  display:flex;
  justify-content: space-evenly;
  padding-left: 4px;
  padding-right: 4px;  
  }
  
  
  
  /* .quantity_selector_minicart{
  width:90px;
  min-width:90px;  
  } */
  
  
  
  .quantity_selector a{
  text-decoration:none;
  color:#000;  
  }
  
  .quantity_selector_icon{
  font-family: "AvenirNextLTPro-Regular"!important;
  }
  
  
  .active_quantity{
  padding: 0 10px;
  font-family: "AvenirNextLTPro-Regular"!important;  
  }
  
  .quantity_selector_icon img{
  width:10px; 
  }
  
  .output_quantity{
  width:50%;
  text-align:center; 
  border:0;  
  background-color:#faf9f6;  
  font-family: "AvenirNextLTPro-Regular"!important;  
  }
  
  /*********subtotal on minicart**********/
  
  .subtotal_group{
  padding-top:50px;
  }
  
  
  
  .subtotal_text_amount{
  display:flex;
  justify-content: space-between;  
  }
  
  
  
  .subtotal_text{
  font-family: "AvenirNextLTPro-Bold"!important;   
  font-weight:bold;
  text-transform:uppercase;  
  font-size: 15px;
  line-height: 30px;
  color: #000000;  
  }
  
  .items_subtotal_price{
  font-family: "AvenirNextLTPro-Regular"!important;  
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  }
  
  
  
  .shipping_text{
  padding: 5px 0 25px;
  }
  
  
  .tax-note{
  margin:0!important;
  text-align:left!important;  
  font-family: "AvenirNextLTPro-Regular"!important;    
  font-size: 15px;
  line-height: 30px;
  color: #000000;  
    
  }
  
  
  
  .checkout_btn{
  font-family: "AvenirNextLTPro-Regular"!important;    
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #faf9f6;
  font-weight: 500;
  text-align: center; 
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #273e22;
  text-decoration:none;  
  text-transform:uppercase;  
  box-sizing:content-box;  
  transition: all 0.5s ease;
  transform: scale(1);   
    
  }
  
  .checkout_btn:hover{
  /* color:#808080; */
  box-shadow:none!important;
  transform: scale(1.05);
  background-color: #273e22;
  color: #fff; 
  }  
  
    
    
  
  
  @media only screen and (max-width: 768px) {
  
  
  .item_image{
  min-height: 120px;
  }  
  
  
  }
  
  
  